*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(115deg, rgba(101, 115, 209,0.8), rgba(202, 102, 211,0.5),url(/quizbg.jpg));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
img{
    width: 5.5rem;
    height: 5.2rem;
    border-radius: 50%;
}
.img{
    position: fixed;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size:  3.3rem;
    color: rgb(179, 112, 19);
    background: greenyellow;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #000 1px 2px 2px;

}


#vers-biblico{
    background: rgb(238, 155, 31);
    border-radius: 1rem;
    margin: 0.3rem auto;
    text-align: center;
    padding: 1.5rem;
    width: 80rem;
    font-style: italic;
}
.questions{
    margin:  0.5rem auto;
    width: 90vw;
    padding: 2rem;
    background: goldenrod;
    cursor: default;
    border-radius: 1rem;
}
#question{
    margin-bottom: 1rem;

}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem rgba(100, 97, 97, 0.822);
    width: 40rem;
    background: rgb(233, 169, 74);
    border-radius: 1rem;
}
.option:hover{
    color: beige;
    cursor: pointer;
}
ol{
    position: relative;
    padding: 0 1.5re;
    color: brown;
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;   
}

#answer{
    margin-top: 2.5rem;

}

#stat{
    margin-top: 1.5rem;
    color: rgb(12, 7, 1);
}
.buttons{
    text-align: center;
}
button{
    padding: 0.2rem 1.5rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: rgb(19, 18, 17);
    background: rgb(209, 142, 17);
    cursor: pointer;
}
button:active{
    background: lavender;
}

#scoreboard, #answerBank{
    width: 20rem;
    background: rgba(228, 115, 24, 0.747);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}

#score-title{
    margin: 1rem 0;
}
#score-btn, #check-answer{
    margin-top: 1rem;
}

#score{
    font-size: 2.5rem;
}
#answerBank li {
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: large;
}
#proxQuiz{
    margin-top: 1rem;
}
#proximo{
    border: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: rgb(17, 16, 17);
    background: rgb(209, 142, 17);
    text-decoration: none;
    width: auto;
}
footer{
    margin-top: 5.5rem;

}
@media ((max-width:800px)){
    #title{
        font-size: 1.5rem;
    }
    #vers-biblico{
        background: rgb(238, 155, 31);
        border-radius: 1rem;
        margin: 1.5rem auto;
        text-align: center;
        padding: 1.5rem;
        width: auto;
        font-style: italic;
    }
    img{
        width: 3.3rem;
        height: 3.3rem;
        border-radius: 50%;
    }
    .questions{

        margin:  2rem auto;
        width: 90vw;
        padding: 2rem;
        background: goldenrod;
        cursor: default;
        border-radius: 1rem;
    }
    .option{
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        border-bottom: solid 0.1rem rgba(100, 97, 97, 0.822);
        width: auto;
        background: rgb(233, 169, 74);
        border-radius: 1rem;
    }
    #scoreboard, #answerBank{
        width: 15rem;
        background: rgba(228, 115, 24, 0.747);
        padding: 2rem;
        text-align: center;
        margin: auto;
        position: relative;
        top: 2rem;
        display: none;
    }
}
@media ((max-width:320px)){

    #title{
        font-size: 1.2rem;
    }
    img{
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 50%;
    
    }
    #vers-biblico{
        background: rgb(238, 155, 31);
        border-radius: 1rem auto;
        margin: 1.5rem;
        text-align: center;
        padding: 1.5rem;
        width: auto;
        font-style: italic;
    }
    .questions{
        margin:  1.5rem auto;
        width: auto;
        padding: 2rem;
        background: goldenrod;
        cursor: default;
        border-radius: 1rem;
    }
    #question{
        width: auto;
        margin-bottom: 1rem;
    
    }
    .option{
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
        border-bottom: solid 0.1rem rgba(100, 97, 97, 0.822);
        width: auto;
        background: rgb(233, 169, 74);
        border-radius: 1rem;
    }
    .centro {
        float: right;
        top: px
        }
    };
    
}